.benefit {
  padding: 100px 20px 80px;
  text-align: left;
  .item {
    padding: 0 40px 0 0;
    img {
      max-width: 107px;
    }
  }
  .t1 {
    padding: 20px 0 10px;
    font-size: 24px;
    line-height: 1;
    font-weight: 500;
    color: rgb(252,193,0);
    font-family: "Hagin Caps", serif;
  }
  .t2 {
    font-size: 14px;
    line-height: 1.75;
    color: rgb(249,249,249);
    font-family: "Roboto", sans-serif;
    font-weight: 300;
  }

  @include media-breakpoint-down(lg) {

  }

  @include media-breakpoint-down(md) {
    padding: 50px 20px;
    .item {
      padding: 0 0 0 0;
      img {
        max-width: 80px;
        min-width: 80px;
      }
      .t1 {
        font-size: 20px;
      }
      .t2 {
        line-height: 1.3;
      }
    }
  }

  @include media-breakpoint-down(sm) {
    .item {
      display: flex;
      flex-flow: column wrap;
      max-height: 130px;
      padding-bottom: 30px;
      max-width: 400px;
      margin: 0 auto;
      img {
        margin-right: 20px;
        margin-top: 10px;
      }
      .t1 {
        padding-top: 10px;
      }

      .t2 {
        max-width: 300px;
      }
    }
  }

  @include media-breakpoint-down(xs) {
    padding: 40px 0 0;
    .item {
      max-width: 280px;
      max-height: 150px;
      img {
        max-width: 60px;
        min-width: 60px;
        margin-bottom: 40px;
      }
      .t1 {
        padding-top: 0;
      }
      .t2 {
        max-width: 210px;
      }
    }
  }
}